* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
  }
.header {
    text-align: center;
    padding: 32px;
    background-color:black;
    color:hsl(210, 11%, 96%);
    margin: 0px;
  }
  body {
    font-family: sans-serif;
    background-image:url(https://cdn.gencraft.com/prod/user/826f3e3a-c214-4314-968f-1421fb6389ad/5142e8a4-6078-4f1b-9959-baf2460c4782/image/image0_0.jpg?Expires=1718557526&Signature=XLW2Jtu-hX~syE~gwN4EPkvLz8eRSX~AiwLaloys9E0Vl84N693eNSX77FE89GCT7lb2wTlaWb99rpJJOncQm2tvRelXqfHvZHOcB-RRYUWlhCojWg82568fF8ucwg8yTjGZvcCVn9V7Qy79BOLB88omLkU1ngxZyBPri-v86sby6e3BgtIkagGriTAeWcQoKeZneuwIzwhNKxKy6x7ZattvNSKopahPqQ8USZ~g~v2SObqRV-Lb28Nk7CJZeSyi-CV2eamC6KHQpEJHo9GX5XqCUXyEkf-7c8dMRMm4b93BYXZ7bHaFzwwtnQVeKQlYE86cEG~jfl5GKv2-TsWlbA__&Key-Pair-Id=K3RDDB1TZ8BHT8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    backdrop-filter: blur(8px);
    color: red;
    
  }

  .Gathecha{
    font-size: 30px;
  }
  .Moringa{
    font-size: 15px;
  
  }
  .links{
    background-color: rgba(0, 0, 0, 0.788);
    text-align: center;
    display: flex;
    justify-content: center;
    position: sticky;
    align-items: center;
    background-blend-mode: darken;
    background-size: cover;
    color: white;
    padding: 10px 20px;

  }

  .nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
  }
  .nav-list li {
    margin-right: 20px;
  }
.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}
 .papa{
  border: 10px;
  padding: 20px;
 }
footer {  
  left: 0; 
  z-index: 10;
  bottom: 0px;
}
.cyro{
  border:80px;
  padding: 10px 20px;
  position: sticky;
}
.home:hover {
  opacity: 0.3px;
  color: rgb(238, 228, 228);
  transition: 0.9s;
  box-shadow: 2px 3px 2px rgb(255, 0, 0);
  margin-bottom: 30px;
}
.about:hover {
  opacity: 0.3px;
  color: rgb(238, 228, 228);
  transition: 0.9s;
  box-shadow: 2px 3px 2px rgb(255, 0, 0);
  margin-bottom: 30px;
}
.projects:hover {
  opacity: 0.3px;
  color: rgb(238, 228, 228);
  transition: 0.9s;
  box-shadow: 2px 3px 2px rgb(255, 0, 0);
  margin-bottom: 30px;

}

.projects:active {
  color: rgb(42, 54, 165);
}
.contact:hover {
  opacity: 0.3px;
  color: rgb(238, 228, 228);
  transition: 0.9s;
  box-shadow: 2px 3px 2px rgb(255, 0, 0);
  margin-bottom: 30px;
}

/* nav ul li a ::after{
  content: "";
  width: 0;
  height: 3px;
  background: #ff094f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5S;
}
nav ul li a:hover ::after{
  width: 100%;
} */
u{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: darkblue;
}

